<div class="bg-gradient-to-t from-yellow-100 to-yellow-50  py-16 text-center flex flex-col">
  <div>
    <h2 class="text-3xl font-bold text-orange-500 mb-4">Get <span class="font-extrabold text-4xl">25% Discount</span> on <br> Your First Order.</h2>
    <p class="mt-4 mx-auto text-slate-700 w-11/12 text-pretty">Discover the Convenience of Our Grocery App. In addition to their nutritional benefits, fresh foods also have a positive impact on local economies and the environment. By supporting local farmers.</p>
    <div class="mt-6">
      <button class="px-6 py-2 bg-orange-500 text-white rounded-md mr-4">Download Now</button>
      <button class="px-6 py-2 bg-transparent border border-orange-500 text-orange-500 rounded-md">Know More</button>
    </div>
    <div class="mt-6 flex justify-center">
      <a href="#" class="mr-4 text-black">Get iOS Version</a>
      <a href="#" class="text-black">Get Android Version</a>
    </div>
  </div>
  <div class="order-1">
    <img src="morningMart_4.png" alt="" class="w-96 h-full mx-auto">
  </div>
</div>
