<div class="bg-gradient-to-t from-orange-800 from-10% via-orange-600 via-30% to-orange-400 to-90% p-8 text-center flex flex-1 flex-shrink-0 flex-col justify-center align-middle">
  <div class="order-2 mt-8"><img src="morningMart_2.png" alt="Morning Mart Logo" class="mx-auto mb-4 w-96 h-full"></div>
  <div class="w-full mb-1">
    <h1 class="text-4xl font-bold text-white mb-9 line-clamp-3 text-center leading-normal">Groceries at Your Fingertips Download Now for Easy Shopping.</h1>
    <p class="text-white line-clamp-5 text-center ">The journey of fresh foods from farm to table, embodies a connection to the earth and the seasons. it represents..</p>
    <div class="mt-6">
      <button class="px-6 py-2 bg-white text-orange-500 font-semibold shadow-md rounded-md mr-4">Download Now</button>
      <button class="px-6 py-2 bg-transparent border border-white text-white rounded-md">Know More</button>
    </div>
    <div class="mt-6 flex justify-center">
      <a href="#" class="mr-4 text-white">Get iOS Version</a>
      <a href="#" class="text-white">Get Android Version</a>
    </div>
  </div>
</div>
