<div class="text-center py-16 flex justify-center align-middle">
  <div>
    <img src="morningMart_1.png" alt="" class="w-96 h-full mx-auto">
  </div>
  <div class="text-start">
    <h2 class="text-3xl font-bold max-w-2xl mx-auto text-orange-500">How It Works</h2>
    <p class="mt-4 max-w-2xl mx-auto">The journey of fresh food, from farm to table, embodies a connection to the earth and the seasons. It represents.</p>
    <div class="mt-8 flex flex-col justify-center space-x-8">
      <div class="text-center flex">
        <div class="w-16 h-16 mx-auto bg-orange-500 text-white rounded-full flex items-center justify-center mb-4">
          <img src="" alt="">
        </div>
        <div class="flex flex-col justify-start align-text-top text-start">
          <h3 class="font-bold text-orange-400">Add to Cart Products</h3>
          <p class="mt-2">By supporting local farmers and producers, consumers help sustain small-scale agriculture and reduce the.</p>
        </div>
      </div>
      <div class="text-center flex">
        <div class="w-16 h-16 mx-auto bg-orange-500 text-white rounded-full flex items-center justify-center mb-4">
          <!-- Icon -->
        </div>
        <div class="flex flex-col justify-start align-text-top text-start">
          <h3 class="font-bold text-orange-400">Confirm your Order</h3>
          <p class="mt-2">By supporting local farmers and producers, consumers help sustain small-scale agriculture and reduce the.</p>
        </div>
      </div>
      <div class="text-center flex">
        <div class="w-16 h-16 mx-auto bg-orange-500 text-white rounded-full flex items-center justify-center mb-4">
          <!-- Icon -->
        </div>
        <div class="flex flex-col justify-start align-text-top text-start">
          <h3 class="font-bold text-orange-400">Get Delivery in 15 minutes</h3>
          <p class="mt-2">By supporting local farmers and producers, consumers help sustain small-scale agriculture and reduce the.</p>
        </div>
      </div>
    </div>
  </div>
</div>
